.header{
    width: 600px;
    height: 100px;
    background-color: beige;
}
.menu{
    width: 600px;
    height: 50px;
    background-color: rgb(70, 143, 185);
}
.maincontent{
    width: 600px;
    height: 500px;
    background-color: rgb(41, 151, 60);
}
.footer{
    width: 600px;
    height: 50px;
    background-color:brown;
}
